<div ng-controller="DependenciesCtrl" class="dependencies col-xs-12 col-md-6">
   <h2>Dependencies</h2>
   <div ng-if='authorized'>
    <div ng-include="'js/views/List.html'" ng-init="submenu = dependencies;"></div>
   </div>
   
   
</div>

<div ng-controller="EditCtrl" class="editing col-xs-12 col-md-6">
    <h2>Editing</h2>
    <div>
        <h4>Library Properties</h4>
        
        Name: <input class="name form-control" value="{{name}}" type="text" id="name"><br/>
        Version: <input class="version form-control" value="{{version}}" type="text" name="version">
        
    </div>

    <div>
        <h4>Manage Dependencies</h4>
        
        Filter: <input class="filter form-control" type="text" name="filter"><br/>
        
        <div class="filterResults">
            
        </div>
        
        Add: <input class="add form-control" type="text" name="add"><br/>

        <div>
            <a class="btn btn-small btn-success" href="#">Save</a>
        </div>
        
    </div>

</div>