.dependencies{
    .initList{
        padding: 0;
    }
    ul{
        a{
            cursor: pointer;
        }
    }
    li{
        list-style: none;

    }
}

.editing{
    .filterRes{
        ul{
            list-style: none;
        }
        input{
            margin-left: 30px;
        }
        .checkbox {
            display: inline-block;
        }
    }
}